body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    background-color: #1a1919;
}
.image-container{
    width: 100%;
    max-height: 56.25rem;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner {
    width: 37.5rem;
    height: 21.875rem;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 60%;
    left: 50%;
    border-radius: 0.313rem;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0.25rem 1.875rem  rgba(0,0,0, 0.1 );
    border: 1px solid rgb(255,255,255, 0.3);
    backdrop-filter: blur(0.625rem);
    -webkit-backdrop-filter: blur(0.625rem);
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 31.25rem;
    color: #ffffff;
    font-size: 2.25rem;
}
.img-text h2 {
    color: #ffffff;
    margin: 0.938rem;
    font-size: 3.625rem;
    letter-spacing: 0.125rem;
    background: inherit;
    opacity: 70%;
    font-family: sans-serif;
    text-shadow: 0.313rem 0.313rem 0.625rem rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.section {
    width: 100%;
    height: auto;
    max-height: 18.75rem;
    text-align: center;
    background-color: #210b0a;;
    position: relative;
    padding: 1.25rem 0;
    margin: 0;
}

.section h2 {
    font-family:sans-serif;
    font-size: 1.25rem;
    top: 50%;
    left: 50%;
    margin-left: 3.125rem;
    margin-right: 3.125rem;
    font-weight:300;
    color: #ffffff;
    opacity: 79%;
}

.banner-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    max-height: 25rem;
    overflow: hidden;
    text-align: center;
}
.banner-image {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    overflow: hidden;
}
.banner-img-text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 31.25rem;
    color: #ffffff;
    font-size: 2.25rem;
}

.bio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 31.25rem;
}

.bio {
    padding-left: 3.125rem;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    color: white;
    box-sizing: border-box;
}
.bio p {
    width: 50rem;
}

.bio-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    max-width: 30%;
    padding: 0; 
}
.bio-image1 {
    flex: 1;
    width: 100%;
    max-width: 100%;
    max-height: 37.5rem; 
    height: auto;
    object-fit: cover;
    margin: 0; 
    padding: 0;
}
@media (max-width: 878px) {
    .image-container{
        margin-top: 70px;
        max-height: 20.25rem;
    }
    .banner {
        width: 22.5rem;
        height: 6.875rem;
        top: 30%;
    }
    
    .img-text h2 {
        font-size: 1.125rem;
    }
    .section {
        width: 100%;
        height: auto;
        max-height: 16.75rem;
        text-align: center;
        background-color: #210b0a;;
        position: relative;
        padding: 1.25rem 0;
        margin: 0;
    }
    
    .section h2 {
        font-family:sans-serif;
        font-size: 0.55rem;
        top: 50%;
        left: 50%;
        margin-left: 3.125rem;
        margin-right: 3.125rem;
        font-weight:300;
        color: #ffffff;
        opacity: 79%;
    }
    .banner-container {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        display: block;
        max-height: 10rem;
        overflow: hidden;
        text-align: center;
    }
    .bio-container {
        height: 15.25rem;
    }
    .bio {
        flex: none; /* Reset flex behavior */
        text-align: center; /* Center text for mobile */
        padding: 15px;
        font-size: 0.5rem; /* Scale down font size */
    }

    .bio p {
        width: 90%; 
        font-size: 7px;
        margin: 0 0 10px 0; /* Adjust spacing between paragraphs */
    }

    .bio-image {
        height: 100%; /* Allow the image to take full width */
    }

    .bio-image1 {
        height: 100%; /* Adjust height for mobile screens */
        max-height: 250px; /* Prevent oversized images */
        object-fit: cover; /* Maintain aspect ratio */
    }
    

}