body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    background-color: #1a1919;
}
.image-container{
    width: 100%;
    max-height: 900px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.banner {
    width: 600px;
    height: 350px;
    background: inherit;
    position: absolute;
    overflow: hidden;
    top: 60%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 4px 30px  rgba(0,0,0, 0.1 );
    border: 1px solid rgb(255,255,255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.img-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    color: #ffffff;
    font-size: 36px;
}
.img-text h2 {
    color: #ffffff;
    margin: 15px;
    font-size: 58px;
    letter-spacing: 2px;
    background: inherit;
    opacity: 70%;
    font-family: sans-serif;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
    cursor: pointer;
}

.section {
    width: 100%;
    height: auto;
    max-height: 300px;
    text-align: center;
    background-color: #210b0a;;
    position: relative;
    padding: 20px 0;
    margin: 0;
}

.section h2 {
    font-family:sans-serif;
    font-size: 20px;
    top: 50%;
    left: 50%;
    margin-left: 50px;
    margin-right: 50px;
    font-weight:300;
    color: #ffffff;
    opacity: 79%;
}

.banner-container {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
}
.banner-image {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    height: auto;
    overflow: hidden;
}
.banner-img-text {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
    color: #ffffff;
    font-size: 36px;
}

.bio-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 500px;
}

.bio {
    padding-left: 50px;
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    color: white;
    box-sizing: border-box;
}
.bio p {
    width: 800px;
}

.bio-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    max-width: 30%;
    padding: 0; 
}
.bio-image1 {
    flex: 1;
    width: 100%;
    max-width: 100%;
    max-height: 600px; 
    height: auto;
    object-fit: cover;
    margin: 0; 
    padding: 0;
}
