.review-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto; 
    background-size: cover; 
    background-position: center; 
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: white; 
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
  }

  .review-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }
 
  
  .review-name {
    flex: 1; 
    text-align: right;
    font-family: sans-serif; 
    padding-right: 50px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  }
.reviews-list {
    margin-top: 100px;
}

.review-message {
  flex: 0 1 800px; /* Allow it to grow beyond 200px */
  max-width: 100%; 
  font-style: italic;
  font-family: sans-serif;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 1.0); 
  z-index: 1; 
  overflow-wrap: break-word; /* Allow breaking at word boundaries */
  word-wrap: break-word;
  white-space: normal; /* Allow text wrapping */
  padding: 10px; /* Add padding to keep it spacious */
}

/* Increase the height of the card when text grows */
@media (min-width: 801px) {
  .review-card {
      height: auto;
      min-height: 120px;
  }
}
@media (max-width: 768px) {
    .review-card {
        padding: 15px;
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }

    .review-name {
        padding-right: 0;
        margin-top: 5px;
    }
}