body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box; 
    background-color: #2e2b2b;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #333;
    position:fixed;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease-in-out; 
}
.navbar.collapsed {
    background-color: #222;
}
.logo {
    width: 160px;
    cursor: pointer;
    transition: width 0.3s ease-in-out;
}
.navbar.collapsed .logo {
    width: 100px; 
}
.navbar ul {
    flex: 1;
    justify-content: flex-end; 
    display: flex;

}
.navbar ul li {
    text-align: center;
    display: inline-block;
    margin: 10px 30px;
    font-size: 20px;
    cursor: pointer;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: font-size 0.3s ease-in-out;
}
.navbar ul li a:hover {
    color: rgb(140, 137, 137);
}

.navbar.collapsed ul li {
    font-size: 16px; 
}

.menu span {
    height: 0.5rem;
    width: 100%;
    background-color: white;
    margin-top: 10px;
    border-radius: 0.2rem;
    transition: all 0.3s ease-in-out;

}
.menu.collapsed span {
    height: 0.3rem;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    border-radius: 0.2rem;
 }
 

@media (max-width: 878px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        transition: all 0.3s ease-in-out;
        max-height: 5.5rem;

    } 
    .navbar.collapsed {
        background-color: #222;
        max-height:3.5rem;
    }
    .menu {
        position: absolute;
        top: 1rem;
        right: 1rem;
        flex-direction:  column;
        width: 3rem;
        height: 8rem;
        display: flex;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    
    }
    .menu.collapsed {
        display: flex;
        position: absolute;
        top: 1rem;
        right: 1rem;
        flex-direction:  column;
        width: 2rem;
        height: 3rem;
    }
    .logo {
        width: 5.5rem;
        cursor: pointer;
        transition: width 0.3s ease-in-out;
    }
    .navbar.collapsed .logo {
        width: 3.5rem; 
    }

    .menu-options {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #333; 
        padding: 0; 
        margin: 0;
        list-style: none; 
        position: absolute; 
        top: 100%; /* Attach directly below the navbar */
        left: 0; 
        max-height: 0; 
        opacity: 0; 
        overflow: hidden;
        z-index: 1000; 
        transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    
    .menu-options.open {
        max-height: 500px; 
        opacity: 1;
        overflow: visible;
    }
    
    .menu-options li {
        padding: 10px 20px; 
    }
    
    .menu-options li a {
        text-decoration: none;
        color: white;
        display: block; 
        font-size: 16px;
        transition: color 0.3s ease-in-out;
    }
    
    .menu-options li a:hover {
        color: rgb(140, 137, 137);
    }



}




